<div class="container">
    <div class="row">
        <p>
            2017 <span class="text-orange">ООО «Спецтехнология»</span>
            <span>
                 <i class="fa fa-circle" aria-hidden="true"></i> г. Череповец, ул. Западная, дом 12, офис 10
            </span>
            <span class="text-orange">
                <i class="fa fa-circle" aria-hidden="true"></i> +7 (8202) 59-66-96
            </span>
            <span class="text-orange">
                 <i class="fa fa-circle" aria-hidden="true"></i> spectechnologia@mail.ru
            </span>
            <br>
            Разработано в <span class="text-orange">компании «НОВЕКС»</span>
        </p>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
<script src="js/script.js"></script>